<tr id="tr_1">
        <td style="" data_field="client_name" id="client_name_tr_1">
      			  {{client_name}}			      
    </td>
        <td style="" data_field="client_contact" id="client_contact_tr_1">
      			  {{client_contact}}		      
    </td>
        <td style="" data_field="account_number" id="account_number_tr_1">
      			  {{account_number}}		      
    </td>
        <td style=";color:#FF0000;font-weight:bold;" data_field="days_left" id="days_left_tr_1">
      			  {{days_left}}			      
    </td>
        <td style="" data_field="invoice_date" id="invoice_date_tr_1">
      			  {{invoice_date}}			      
    </td>
        <td style="" data_field="invoice_number" id="invoice_number_tr_1">
      			  {{invoice_number}}			      
    </td>
        <td style="" data_field="net_charge_amount" id="net_charge_amount_tr_1">
      			  {{net_charge_amount}}			      
    </td>
        <td style="" data_field="original_amount_due" id="original_amount_due_tr_1">
      			  {{original_amount_due}}			      
    </td>
        <td style="" data_field="tracking_prefix" id="tracking_prefix_tr_1">
      			 {{tracking_prefix}} 			      
    </td>
        <td style="" data_field="tracking_number" id="tracking_number_tr_1">
      			  {{tracking_number}}			      
    </td>
        <td style="" data_field="region" id="region_tr_1">
      			  {{region}}			      
    </td>
        <td style="" data_field="invoice_type" id="invoice_type_tr_1">
      			  {{invoice_type}}		      
    </td>
        <td style="" data_field="service" id="service_tr_1">
      			  {{service}}			      
    </td>
        <td style="" data_field="area" id="area_tr_1">
      			  {{area}}			      
    </td>
        <td style="" data_field="shipper_zip" id="shipper_zip_tr_1">
      			  {{shipper_zip}}			      
    </td>
        <td style="" data_field="recipient_zip" id="recipient_zip_tr_1">
      			  {{recipient_zip}}			      
    </td>
        <td style="" data_field="shipment_date" id="shipment_date_tr_1">
      			  {{shipment_date}}			      
    </td>
        <td style="" data_field="delivery_date" id="delivery_date_tr_1">
      			  {{delivery_date}}			      
    </td>
        <td style="" data_field="delivery_time" id="delivery_time_tr_1">
      			  {{delivery_time}}			      
    </td>
        <td style="" data_field="residential" id="residential_tr_1">
      			  {{residential}}			      
    </td>
        <td style="" data_field="late" id="late_tr_1">
      			  {{late}}			      
    </td>
        <td style="" data_field="really_late" id="really_late_tr_1">
      			  {{really_late}}			      
    </td>
        <td style="" data_field="refund" id="refund_tr_1">
      			  	{{refund}}		      
    </td>
        <td style="" data_field="auditor2" id="auditor2_tr_1">
      			  {{auditor2}}			      
    </td>
        <td style="" data_field="edit" id="edit_tr_1">
      <a href="/editInvoice/{{invoice_id}}">Edit</a>    
            
    </td>
      </tr>