<tr id="tr_1">
        <td style="" data_field="client_name" id="client_name_tr_1">{{client_name}}</td>
        <td style="" data_field="client_account_number" id="client_account_number_tr_1">{{client_account_number}}</td>
        <td style="" data_field="client_username" id="client_username_tr_1">{{username}}</td>
        <td style="" data_field="client_password" id="client_password_tr_1">{{password}}</td>
        <td style="" data_field="client_created_tstamp" id="client_created_tstamp_tr_1">{{created}}</td>
        <td style="" data_field="client_address_line_1" id="client_address_line_1_tr_1">{{client_address_line_1}}</td>
        <td style="" data_field="client_address_line_2" id="client_address_line_2_tr_1">{{client_address_line_2}}</td>
        <td style="" data_field="client_city" id="client_city_tr_1">{{city}}</td>
        <td style="" data_field="client_state" id="client_state_tr_1">{{state}}</td>
        <td style="" data_field="client_county" id="client_county_tr_1">{{county}}</td>
        <td style="" data_field="client_phone" id="client_phone_tr_1">{{client_phone}}</td>
        <td style="" data_field="client_email" id="client_email_tr_1">{{email}}</td>
        <td style="" data_field="client_config_type" id="client_config_type_tr_1">{{clientType}}</td>
        <td style="" data_field="client_size" id="client_size_tr_1">{{client_size}}</td>
        <td style="" data_field="client_active" id="client_active_tr_1">{{client_active}}</td>
        <td style="" data_field="edit" id="edit_tr_1">
      <a href="/editClient/{{client_id}}">Edit</a>    
            
    </td>
        <td style="" data_field="stats" id="stats_tr_1">
      <a href="/admin/client/stats/id/39/">Stats</a>    
            
    </td>
        <td style="" data_field="auditor2" id="auditor2_tr_1">
      <a href="/admin/client/auditor2/id/39/">114</a>    
            
    </td>
        <td style="" data_field="late" id="late_tr_1">
      <a href="/admin/client/late/id/39/">1713</a>    
            
    </td>
        <td style="" data_field="ontime" id="ontime_tr_1">
      <a href="/admin/client/ontime/id/39/">458</a>    
            
    </td>
        <td style="" data_field="upload" id="upload_tr_1">
      <a href="/admin/client/uploadinvoice/id/39/">Upload</a>    
            
    </td>
</tr>