<p id="mainContent"></p><h2>Modify "Client"</h2>

		  <h3>Client Type: {{type}}</h3>
	
<br>
<form class="cssform">
		  <input type="hidden" name="client_id" value="39">
		
	<div class="contentGroup">
		<h4>Client</h4>
		<p><input type="text" id="client_name" name="client_name" value="{{client_name}}" style="width:500px;"></p>
	</div>
  <div class="contentGroup">
    <h4>Account Number</h4>
    <p><input type="text" id="client_account_number" name="client_account_number" value="{{client_account_number}}" style="width:500px;"></p>
  </div>
  <div class="contentGroup">
    <h4>Zip</h4>
    <p><input type="text" id="client_zip_code" name="client_zip_code" value="{{client_zip_code}}" style="width:500px;"></p>
  </div>
		  <div class="contentGroup">
	    <h4>Zip Ref</h4>
	    <p><input type="text" id="client_zip_ref" name="client_zip_ref" value="{{client_zip_ref}}" style="width:500px;"></p>
	  </div>
	        
  <div class="contentGroup">
    <h4>Address Line 1</h4>
    <p><input type="text" id="client_address_line_1" name="client_address_line_1" value="{{client_address_line_1}}" style="width:500px;"></p>
  </div>
  <div class="contentGroup">
    <h4>Address Line 2</h4>
    <p><input type="text" id="client_address_line_2" name="client_address_line_2" value="{{client_address_line_2}}" style="width:500px;"></p>
  </div>
  
  <div class="contentGroup">
    <h4>Username</h4>
    <p><input type="text" id="client_username" name="client_username" value="{{client_username}}" style="width:500px;"></p>
  </div>
  <div class="contentGroup">
    <h4>Password</h4>
    <p><input type="text" id="client_password" name="client_password" value="{{client_password}}" style="width:500px;"></p>
  </div>

  <div class="contentGroup">
    <h4>Phone</h4>
    <p><input type="text" id="client_phone" name="client_phone" value="{{client_phone}} " style="width:500px;"></p>
  </div>

  <div class="contentGroup">
    <h4>Email</h4>
    <p><input type="text" id="client_email" name="client_email" value="{{client_email}}" style="width:500px;"></p>
  </div>

  <div class="contentGroup">
    <h4>Contact</h4>
    <p><input type="text" id="client_contact" name="client_contact" value="{{client_contact}}" style="width:500px;"></p>
  </div>

  <div class="contentGroup">
    <h4>Percentage</h4>
    <p><input type="text" id="client_percentage" name="client_percentage" value="{{client_percentage}}" style="width:500px;"></p>
  </div>

  <div class="contentGroup">
    <h4>Size</h4>
    <p><select id="client_size" name="client_size" style="width:500px;">
              <option>{{client_size}}</option>
              <option>Big</option>
              <option>Medium</option>
              <option>Small</option>
          </select></p>
  </div>


	<div class="contentGroup">
		<h4>Note</h4>
		<p><textarea class="form" name="client_note" id="client_note" rows="20" cols="80" style="overflow:visible; ">med</textarea></p>
	</div>

  <div class="contentGroup">
    <h4>Active</h4>
    <p><input type="radio" name="client_active" value="Yes" checked="">Yes
      <input type="radio" name="client_active" value="No">No
    </p>
  </div>
	
	<div>					
	 <button type="submit" value="yes" name="process" class="createNew" style="margin-bottom: 10px">Save Changes</button>
	</div>
</form>


